/* tags */
body {
  font-family: sans-serif;
  background-color: #3B332B;
  color: #fefdfe;
}

input {
  background-color: #fefdfe;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border-radius: 10%;
  background-color: darkorange;
  font-weight: bold;
  color: #fefdfe;
  cursor: pointer;
}

/* ids */

#header{
  margin: 0.7em 0.1em 0 0.1em;
  font-family: fantasy, Helvetica, sans-serif;
  border-bottom: 2px solid darkorange;
  width: 400px;
  border-right: 2px solid darkorange;
  box-shadow: 4px 4px 5px #888888;
  font-size: 3em;
  text-align: center;
  color: darkorange;
}

/* classes */

.center {
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.selectWidth {
  width:10em;
}

.navRight {
  display: flex;
  justify-content: flex-end;
  width: 290px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid darkorange;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
